* text=auto

*.py  text diff=python

*.htm   text diff=html
*.html  text diff=html
*.css   text diff=css
*.scss  text diff=css

*.sh    text eol=lf
*.ps1   text eol=crlf

*.md    text diff=markdown

Dockerfile text

# export-ignore section -- remove files from `git archive`
.gitattributes  export-ignore
README          export-ignore
README.md       export-ignore
